@font-face {
	font-family: "PTRootUI";
	src: url("../fonts/PTRootUI/Regular/Ptrootui.woff") format("woff");
	src: url("../fonts/PTRootUI/Regular/Ptrootui.woff2") format("woff2");
}
@font-face {
	font-family: "PTRootUI-Medium";
	src: url("../fonts/PTRootUI/Medium/Ptrootuimedium.woff") format("woff");
	src: url("../fonts/PTRootUI/Medium/Ptrootuimedium.woff2") format("woff2");
	src: url("../fonts/PTRootUI/Medium/Ptrootuimedium.ttf") format("ttf");
}
@font-face {
	font-family: "PTRootUI-Bold";
	src: url("../fonts/PTRootUI/Bold/Ptrootuibold.woff") format("woff");
	src: url("../fonts/PTRootUI/Bold/Ptrootuibold.woff2") format("woff2");
	src: url("../fonts/PTRootUI/Bold/Ptrootuibold.ttf") format("ttf");
}